.container {
    display: flex;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    max-width: 99%;
    text-align: center;
}


.title {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container-carousel {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.Map {
    width: 80%;
    margin-left: 10%;
}

/*Buttons_________________________________________________________________*/
.ButtonMap {
    position: absolute;
    top: 40%;
    left: 15%;
    padding: 15px 25px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    }
    
.ButtonMap:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
    }
.ButtonMap:active {
    background-color: rgb(255, 56, 86);
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}


.ButtonMapEurope {
        position: absolute;
        margin-top: 8%;
        margin-left: 50%;
        padding: 15px 25px;
        border-radius: 10px;
        border: 0;
        background-color: rgb(255, 56, 86);
        letter-spacing: 1.5px;
        font-size: 15px;
        transition: all 0.3s ease;
        box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
        color: hsl(0, 0%, 100%);
        cursor: pointer;
        }
    .ButtonMapEurope:hover {
        box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
        }
    .ButtonMapEurope:active {
        background-color: rgb(255, 56, 86);
        box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
        transform: translateY(5px);
        transition: 200ms;
    }


    .ButtonMapAsia {
        position: absolute;
        margin-top: 9.5%;
        margin-left: 67%;
        padding: 15px 25px;
        border-radius: 10px;
        border: 0;
        background-color: rgb(255, 56, 86);
        letter-spacing: 1.5px;
        font-size: 15px;
        transition: all 0.3s ease;
        box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
        color: hsl(0, 0%, 100%);
        cursor: pointer;
        }
    .ButtonMapAsia:hover {
        box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
        }
    .ButtonMapAsia:active {
        background-color: rgb(255, 56, 86);
        box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
        transform: translateY(5px);
        transition: 200ms;
    }


    .ButtonMapAfrica {
        position: absolute;
        margin-top: 20%;
        margin-left: 48%;
        padding: 15px 25px;
        border-radius: 10px;
        border: 0;
        background-color: rgb(255, 56, 86);
        letter-spacing: 1.5px;
        font-size: 15px;
        transition: all 0.3s ease;
        box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
        color: hsl(0, 0%, 100%);
        cursor: pointer;
        }
    .ButtonMapAfrica:hover {
        box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
        }
    .ButtonMapAfrica:active {
        background-color: rgb(255, 56, 86);
        box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
        transform: translateY(5px);
        transition: 200ms;
    }



/*Cards_________________________________________________________________*/
.card {
  pointer-events: none;
    position: absolute;
    opacity: 0;  
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    width: 155px;
    height: 155px;
    background: #3e3d3d;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    transition: 0.2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }


  .Imge{
    width: 120px;
    min-height: 120px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
      }
  
  .textBox {
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
  }
  
  .textBox > .text {
    font-weight: bold;
  }
  
  .textBox > .head {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
  
  
  .textBox > span {
    font-size: 12px;
    color: rgb(255, 255, 255);
  }
  
  .card:hover > .textBox {
    opacity: 1;
  }
  
  .card:hover > .Imge {
    filter: blur(7px);
  }

  
  .card:hover {
    transform: scale(1.0) rotate(-1deg);
  }
  
  .show-card {
    opacity: 1;
    pointer-events: auto;
}

.hide-card {
    opacity: 0;
    pointer-events: none;
}
/* North America */
.card-northamerica{
  left: 15.5%;
  top: 20%;
}

.card-northamerica2{
  left: 15.5%;
  top: 50%;
}


/*europe*/
.card-europe{
  left: 40.5%;
  top: 18%;
}

.card-europe2{
  left: 57%;
  top: 18%;
}

.card-europe3{
  left: 57%;
  top: 44.5%;
}

.card-europe4{
  left: 40.5%;
  top: 44.5%;
}

/*Asia*/
.card-Asia{
  left: 70%;
  top: 18%;
}

.card-Asia2{
  left: 74.5%;
  top: 35%;
}

.card-Asia3{
  left: 70%;
  top: 52%;
}

.card-Asia4{
  left: 60%;
  top: 52%;
}

.card-Asia5{
  left: 56%;
  top: 35%;
}

.card-Asia6{
  left: 60%;
  top: 18%;
}

/*Africa*/
.card-Africa{
  left: 39%;
  top: 45%;
}

.card-Africa2{
  left: 54%;
  top: 45%;
}

.card-Africa3{
  left: 54%;
  top: 70%;
}

.card-Africa4{
  left: 39%;
  top: 70%;
}